<span class="fa fa-bars synsormed-menu-trigger" ng-click="toggle()"></span>
<pageslide ps-cloak="false" ps-size="100%" ps-open="navigationVisible" ps-side="left">
  <div class="pull-left synsormed-side-menu">
      <table class="text-center col-xs-12" style="margin-top:15px;">
          <tr ng-show="isLoggedIn && isProvider" class="synsormed-menu-item" ng-click="getVisits()">
            <td width="80%" >VISITS</td>
            <td width="20%"><span class="icon-element fa fa-stethoscope"></span></td>
          </tr>
          <tr ng-show="isLoggedIn && isProvider" class="synsormed-menu-item" ng-click="getMonitors()">
            <td width="80%">MONITORS</td>
            <td width="20%"><span class="middle icon-element fa fa-eye"></span></td>
          </tr>
          <tr ng-show="isLoggedIn && !isProvider" class="synsormed-menu-item" ng-click="sync()">
            <td width="80%">SYNSORMED CONNECT</td>
            <td width="20%"><span class="middle icon-element fa fa-cloud"></span></td>
          </tr>
          <tr ng-show="isLoggedIn" class="synsormed-menu-item" ng-click="logout()">
            <td width="80%">LOGOUT</td>
            <td width="20%"><span class="middle icon-element fa fa-sign-out"></span></td>
          </tr>
      </table>
  </div>
  <div ng-click="toggle()" class="synsormed-menu-cloak pull-right clearfix"></div>
</pageslide>
