<div class="modal-header">
    <h3 class="modal-title">
      <img src="img/synsormed_logo_name_small.png" />
    </h3>
</div>
<div class="modal-body">
  <p>SynsorMed is a software platform for physician specialists that will reduce costly patient follow-up visits and increase practice revenues by offering a HIPAA-compliant mobile tele-health solution that easily integrates into their current workflow.</p>
  <p ng-if="version" class="text-primary">Version {{version}}</p>
  <p>&copy;{{year}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
