<div class="modal-header">
    <h3 class="modal-title">
      <img src="img/synsormed_logo_name_small.png" />
      <br />
      Sensor Integration
    </h3>
</div>
<div class="modal-body" id="sensor">
	<p>The SynsorMed platform enables you to seamlessly share your recorded data with your healthcare provider.
    Whether from a medical device or fitness wearable, your provider will be able to view your data realtime during your virtual visit.
    You may use the link below to register your device and allow data access to your provider.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-click="serviceLogin()">Show Services</button>
</div>
