#SynsormedConnect{
    .warning{
        color: #f0ad4e !important;
    }
    .success{
        color: #5cb85c !important;
    }
    .marginbt20{
        margin-bottom: 20px;
    }
  .middle{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(80%);
      -ms-transform: translateY(80%);
      transform: translateY(80%);
  }
  .fontLarge{
      font-size: 70px;
  }
  h2 {
    margin-top: 0px;
  }
}
