<div id="monitor-list" ng-if="status != 'active'">
  <synsormed-header title="Monitor List" back-button="false" is-provider="true" logged-in="true"></synsormed-header>

  <div id="instructions" class="hbox">
    <span class="flex">Sort by</span>
    <div class="btn-group" dropdown>
      <button type="button" dropdown-toggle class="btn dropdown-toggle" ng-disabled="disabled">
        {{sort.sortOrder.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="order in orderOptions"><a ng-click="sort.sortOrder = order">{{order.name}}</a></li>
      </ul>
    </div>
  </div>

  <section class="container-fluid">
    <div id="reloader-container" class="vbox flex">
      <div id="reloader" pull-to-refresh="reloadView">
        <div>
          <ul id="waiting-list">
            <li ng-repeat='monitor in filteredMonitors =(monitors | filter : monitorFilter)'>
              <div class="details">
                <div class='row'>
                  <div class='fl'>
                    <span class="monitor-code">{{monitor.patientCode}}</span>
                    <div><b>Monitoring :</b>  <span ng-repeat='name in monitor.measurementName track by $index'>{{name}}<i ng-if='$index!=(monitor.measurementName.length-1)'>, </i></span></div>
                    <div><b>Start Time :</b> {{monitor.createdAt | date:'short'}}</small></div>
                  </div>
                  <div class='fr padding5'>
                    <span ng-if="!(monitor.isMissed || monitor.isOutofBound)" class="icons fa fa-4x fa-check-circle text-success" title="Reading is up to date and in range"></span>
                    <span ng-if="monitor.isMissed" class="icons fa fa-4x fa-calendar-times-o textwarning" title="Patient missed scheduled reading"></span>
                    <span ng-if="monitor.isOutofBound" class="icons fa fa-4x fa-heartbeat textdanger" title="Latest reading is out of range"></span>
                  </div>
                  <div class='clear'></div>
                </div>
                <div class="row"><b>Description :</b><br/> {{monitor.description}}</small></div>
              </div>
              <!--<div class="actions">
              <a class="btn btn-default btn-sm" ng-href='#/provider/writeNote?patientId={{patient.id}}&patientCode={{patient.code}}'>Edit Notes</a>
              <a class="btn btn-default btn-sm" ng-href='#/provider/writeNote?patientId={{patient.id}}'>Delete</a>
            </div>-->

          </li>
          <alert type="info" ng-if='filteredMonitors.length == 0'>
            <h4>No monitors for this filter.</h4>
          </alert>
          <alert type="info" ng-if="monitor.length === 0">
            <h4>There are no monitors.</h4>
            <p>Pull down to refresh.</p>
          </alert>
        </ul>
      </div>
      <div id="reload-status"><i class="fa fa-spin fa-refresh"></i> Release to refresh</div>
    </div>
  </div>
</div>
</section>
</div>
