.synsormed-header{
  background-color: $brand-primary;
  color: #F1F1F1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 10px;
  z-index: 2;
  padding: 1em !important;
  text-align: center;
    h1 {
      margin-right: 1em;
      color: #F1F1F1;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size:28px !important;
      &.no-margin{
        margin-right : 0px;
      }
    }
    a {
      float: left;
      font-size: 3em !important;
      line-height:36px;
      color : #FFFFFF !important;
      margin-top:3px;
       > span.fa {
         color : #FFFFFF !important;
         font-size:28px !important;
      }
    }
}



