<div id="login">
  <synsormed-header show-menu="false"></synsormed-header>
  <section class="network-tester" ng-init="init()">
    <div ng-if="testRun" class="network-errors">
      <alert id="connectionError" type="danger" ng-if="scoreLevel() < 5">
          <h4><i class="fa fa-remove"></i>Better connection needed</h4>
          <p>Please connect your device to better connection in order to use <strong>Synsor</strong>Med.</p>
      </alert>
      <alert type="info" ng-if="scoreLevel() >= 5 && scoreLevel() < 7">
          <h4><i class="fa fa-warning"></i>Your connection is Ok</h4>
          <p>Your connection is moderate but you can still use <strong>Synsor</strong>Med.</p>
      </alert>
      <alert id="connectionError" type="success" ng-if="scoreLevel() >= 7">
          <h4><i class="fa fa-check"></i>Your connection is Good</h4>
          <p>You connection will work well with <strong>Synsor</strong>Med.</p>
      </alert>
    </div>

    <div id="network-options">
      <button ng-hide="!hasHighBandwidth" ng-click="showLoginPage()"><i></i><span>Continue</span></button>
      <button ng-click="testSpeed()"><i></i><span>Start Test</span></button>
    </div>

    <highchart id="chart1" class="network-speed-gauge" config="chartConfig"></highchart>

  </section>
</div>
