#readMonitor{
  .table {
    margin-bottom: 0px;
    td {
      text-align: center;
    }
  }
  .panel-heading
  {
      background-color: #fff;
  }
  .panel-title {
      margin-bottom: 10px;
  }
  .alert-info{
      color: grey;
  }
  .danger-text{
      color: $brand-danger;
  }
  .warning-text{
      color: $brand-warning;
  }
  .icon-color{
      background-color:#F05F3A;
      color:#fff;
  }
  .middle{
    margin-top: 5px;
  }
  h2 {
    margin-top: 0px;
  }
  .sync-img{
      width:50px;
  }
}
